html,
body{
  height: 100%;
}

body{
  @extend %dmsans-400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.top-container{
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  @extend %dmsans-700;
  font-size: 36px;
  text-align: center;
}

.sorting{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  .sort-btn{
    @extend %dmsans-700;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #8b8b8b;
    outline: transparent;
    & + .sort-btn{
      margin-left: 30px;
    }
    &.mixitup-control-active{
      color: #191919;
    }
  }
}
