@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';




.modal{
  padding: 120px 0;
  @extend %rubik-400;
  color: #436372;
  font-size: 14px;
  &__inner{
    max-width: 570px;
    padding: 0 50px;
    margin: 0 auto;
  }
  &__label{
    display: block;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  &__input{
    display: block;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    height: 60px;
    padding: 0 15px;
    border: 1px solid #f6f6f6;
  }
  &__btn-submit{
    display: block;
    width: 100%;
    border: none;
    background-color: $btn;
    color: #fff;
    font-size: 18px;
    margin-top: 40px;
    padding: 19px 0;
  }
  &__info{
    padding: 35px 0 33px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
  }
  &__createAccount{
    padding-top: 30px;
    text-align: center;
  }
  &__text{
    margin-bottom: 20px;
  }
  &__link-account{
    display: block;
    border: 1px solid $btn;
    font-size: 18px;
    color: $title;
    padding: 18px 0;
  }
}

.terms-conditions{
  display: flex;
  padding-top: 120px;
  @extend %rubik-400;
  line-height: 30px;
  color: $title;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  &__text{
    margin-bottom: 40px;
  }
}









// .product-filter{
//   max-width: 270px;
//   width: 100%;
//   margin-right: 30px;
//   &__item{
//     margin-bottom: 60px;
//   }
//   &__title{
//     @extend %dmsans-700;
//     font-size: 18px;
//     color: $title;
//     line-height: 1;
//     text-transform: uppercase;
//     display: inline-flex;
//     align-items: center;
//     position: relative;
//     margin-bottom: 30px;
//     &::after{
//       content: '';
//       right: -60px;
//       position: absolute;
//       width: 40px;
//       height: 3px;
//       background-color: $accent;
//     }
//   }
// }

























  














@import 'media';