@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0 45px;
}

.menu__list{
  display: flex;
  &-item + .menu__list-item{
    margin-left: 30px;
  }
  &-link{
    @extend %rubik-500;
    font-size: 15px;
    color: $nav;
  }
}

.user__nav{
  display: flex;
  &-link{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 17px 0;
    border-radius: 50%;
  }
  &-link--search{
    background-color: #edf1f4;
    margin-right: 20px;
  }
  &-link--heart,
  &-link--cart{
    width: 88px;
    background-color: #fcd7b6;
  }
  &-link--heart{
    border-radius: 50px 0 0 50px;
    &::after{
      content: '';
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      position: absolute;
      right: 0;
      top: 9px;
    }
  }
  &-link--cart{
    border-radius: 0 50px 50px 0;
  }
  &-link--menu{
    background-color: #a3bbc8;
    margin-left: 20px;
    padding: 15px 0;
  }
  &-image{
    margin: 0 auto;
  }
  &-count{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    background-color: #fff;
    text-align: center;
    color: #243f4d;
    position: absolute;
    top: 9px;
    right: 24px;
  }
}

.main-slider{
  &__inner{
    padding-bottom: 45px;
  }
  &__item{
    min-height: calc(100vh - 143px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
    min-height: inherit;
  }
  &__title{
    @extend %rubik-500;
    font-size: 72px;
    color: $title;
    max-width: 470px;
    margin-bottom: 25px;
  }
  &__subtitle{
    @extend %rubik-400;
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: $nav;
    margin-bottom: 40px;
  }
  &__link{
    @extend %rubik-500;
    border: none;
    background-color: $btn;
    color: #fff;
    font-size: 15px;
    padding: 20px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: -75px;
    li{
      padding: 0 5px;
      button{
        padding: 0;
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        z-index: 1;
        position: relative;
        opacity: .3;
        cursor: pointer;
      }
      &.slick-active{
        button{
          opacity: 1;
        }
      }
    }
  }
}

.advantages{
  &__inner{
    display: flex;
    justify-content: space-around;
    background-color: #fef7f0;
    padding: 40px 0;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    padding: 0px 40px 0px 123px;
    &:nth-child(1){
      background-image: url('../images/icons/hours.svg');
      background-repeat: no-repeat;
      background-position: 48px 10px;
    }
    &:nth-child(2){
      background-image: url('../images/icons/delivery.svg');
      background-repeat: no-repeat;
      background-position: 48px 10px;
    }
    &:nth-child(3){
      background-image: url('../images/icons/paymant.svg');
      background-repeat: no-repeat;
      background-position: 48px 10px;
    }
    &-title{
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 40px;
    }
    &-descr{
      line-height: 30px;
    }
  }
}

.products-week{
  padding: 75px 0;
  &__title{
    margin-bottom: 35px;
  }
}

.products{
  &__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__item{
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    max-width: 270px;
    width: 100%;
    &:hover{
      .products__link-box{
        transform: translateY(-50%);
      }
    }
  }
  &__item--list{
    max-width: 100%;
    padding: 0;
    min-height: 500px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: inherit;
    box-shadow: none;
    border-radius: 0;
    @extend %rubik-400;
    .products__link-box{
      display: none;
    }
    .products__img-box{
      margin: 0 30px 0 0;
      min-height: 100%;
      max-width: 370px;
      width: 100%;
      border: 1px solid #f2f2f2;
      align-items: center;
    }
    .products__image{
      width: 100%;
    }
    .products__content{
      text-align: left;
      padding: 90px 30px 70px;
      .star{
        display: block;
      }
    }
    .products__title{
      font-size: 40px;
      color: #333;
      margin-bottom: 25px;
    }
    .star{
      display: block;
      margin-bottom: 30px;
    }
    .products__price{
      font-size: 30px;
      margin-bottom: 40px;
      &-new{
        color: #333;
      }
    }
    .products__text{
      display: block;
      line-height: 30px;
      color: $title;
      margin-bottom: 25px;
    }
    .products__link-block{
      display: flex;
      .products__link{
        width: 50px;
        height: 50px;
        border-radius: 0;
        margin: 0;
        & + .products__link{
          margin-left: 10px;
        }
      }
    }
  }
  &__img-box{
    margin: 0 0 55px;
    min-height: 200px;
    display: flex;
    align-items: flex-end;
  }
  &__image{
    object-fit: cover;
  }
  &__title{
    @extend %dmsans-500;
    color: $title;
    margin-bottom: 15px;
  }
  &__price{
    @extend %dmsans-700;
    margin-bottom: 15px;
    &-new{
      color: $accent;
    }
  }
  &__link-box{
    position: absolute;
    top: 50%;
    display: flex;
    transform: translateY(-500px);
    transition: all .3s;
    max-width: 175px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__link{
    @extend %btn;
    margin: 0 7px;
    transition: all .3s;
    &:hover{
      background-color: $btn;
      fill: #fff;
    }
  }
  &__content{
    text-align: center;
    .star{
      display: none;
    }
  }
  &__text{
    display: none;
  }
  &__link-block{
    display: none;
  }
}

.decor{
  &__inner{
  display: flex;
  padding-top: 125px;
  }
  &__item{
    max-width: 870px;
    width: 100%;
    min-height: 390px;
    background-color: #feefe2;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    &:first-child{
      margin-right: 30px;
    }
  }
  &__img-box{
    display: flex;
    max-width: 240px;
    object-fit: fill;
    align-items: center;
    position: relative;
    top: -85px;
  }
  &__descr{
    padding: 100px 0 85px;
    color: $title;
    max-width: 340px;
  }
  &__title{
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 25px;
  }
  &__text{
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__link{
    max-width: 180px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
  }
}

.design{
  padding: 105px 0 120px;
  &__title{
    margin-bottom: 35px;
  }
  &__items{
    display: grid;
    gap: 35px 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item{
    max-width: 370px;
    min-height: 240px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &-link{
      display: block;
      min-height: inherit;
      padding: 40px 35px;
    }
    &-title,
    &-subtitle{
      @extend %dmsans-700;
      font-style: 20px;
    }
    &-subtitle{
      margin-bottom: 15px;
    }
    &-style{
      @extend %dmsans-700;
      font-style: 16px;
      color: $accent;
    }
  }
}

.movies{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__link{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    &::after{
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $accent;
      animation: pulse 2s infinite;
      z-index: -1;
    }
  }
}

.insights{
  padding: 120px 0 20px;
  background: linear-gradient(180deg, #fff 466px, #fcf5ee 0%);
  &__title-blok{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  &__link{
    @extend %dmsans-700;
    color: #262626;
    margin-bottom: 6px;
    svg{
      margin-left: 10px;
    }
  }
  &__inner{
    display: flex;
  }
  &__item{
    max-width: 370px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    &--new .insights__link-img::after{
      content: 'news';
      @extend %poppins-700;
      font-size: 14px;
      padding: 8px 30px;
      color: #fff;
      text-transform: uppercase;
      background-color: $btn;
      border-radius: 25px;
      position: absolute;
      bottom: -18px;
      left: 28px;
    }
    & + .insights__item{
      margin-left: 30px;
    }
  }
  &__link-img{
    position: relative;
  }
  &__images{
    width: 100%;
    object-fit: cover;
  }
  &__content{
    padding: 35px 30px 30px;
    &-title{
      @extend %dmsans-500;
      font-size: 18px;
      color: $default;
    }
  }
  &__info{
    border-top: 1px solid #e0e0e0;
    margin: 0 30px;
    padding: 23px 8px 28px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 0;
    @extend %rubik-400;
    text-transform: uppercase;
    color: #222933;
    fill: #222933;
    &-date,
    &-autor{
      color: $default;
      padding-left: 15px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        width: 12px;
        height: 16px;
        top: 1px;
        left: -5px;
      }
    }
    &-date::before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' x='0' y='0' viewBox='0 0 477.867 477.867' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath d='M119.467,0C110.041,0,102.4,7.641,102.4,17.067V51.2h34.133V17.067C136.533,7.641,128.892,0,119.467,0z' fill='%23000000' data-original='%23000000' style='' class=''/%3E%3Cpath d='M358.4,0c-9.426,0-17.067,7.641-17.067,17.067V51.2h34.133V17.067C375.467,7.641,367.826,0,358.4,0z' fill='%23000000' data-original='%23000000' style='' class=''/%3E%3Cpath d='M426.667,51.2h-51.2v68.267c0,9.426-7.641,17.067-17.067,17.067s-17.067-7.641-17.067-17.067V51.2h-204.8v68.267 c0,9.426-7.641,17.067-17.067,17.067s-17.067-7.641-17.067-17.067V51.2H51.2C22.923,51.2,0,74.123,0,102.4v324.267 c0,28.277,22.923,51.2,51.2,51.2h375.467c28.277,0,51.2-22.923,51.2-51.2V102.4C477.867,74.123,454.944,51.2,426.667,51.2z M443.733,426.667c0,9.426-7.641,17.067-17.067,17.067H51.2c-9.426,0-17.067-7.641-17.067-17.067V204.8h409.6V426.667z' fill='%23000000' data-original='%23000000' style='' class=''/%3E%3Cpath d='M353.408,243.942c-6.664-6.669-17.472-6.672-24.141-0.009L204.8,368.401l-56.201-56.201 c-6.669-6.664-17.477-6.66-24.141,0.009c-6.664,6.669-6.66,17.477,0.009,24.141l68.267,68.267c6.665,6.663,17.468,6.663,24.132,0 L353.4,268.083C360.068,261.419,360.072,250.611,353.408,243.942z' fill='%23000000' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/svg%3E");
    }
    &-autor::before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M256,0c-74.439,0-135,60.561-135,135s60.561,135,135,135s135-60.561,135-135S330.439,0,256,0z' fill='%23000000' data-original='%23000000'/%3E%3Cpath d='M423.966,358.195C387.006,320.667,338.009,300,286,300h-60c-52.008,0-101.006,20.667-137.966,58.195 C51.255,395.539,31,444.833,31,497c0,8.284,6.716,15,15,15h420c8.284,0,15-6.716,15-15 C481,444.833,460.745,395.539,423.966,358.195z' fill='%23000000' data-original='%23000000'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

.partners{
  padding: 30px 0 40px;
  background-color: #fcf5ee;
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
  }
}

.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 80px 0 55px;
  border-bottom: 1px solid #dae4e9;
  font-size: 14px;
  line-height: 21px;
  @extend %dmsans-400;
  &__item--address{
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
  &__logo{
    display: block;
    margin-bottom: 30px;
  }
  &__contacts{
    max-width: 240px;
    margin-bottom: 15px;
  }
  &__contacts-text{
    color: $footer-text;
    text-transform: uppercase;
  }
  &__item--nav{
    max-width: 170px;
    width: 100%;
    margin-right: 30px;
  }
  &__title{
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    text-transform: uppercase;
    color: #1f2044;
    margin: 15px 0 30px;
  }
  &__nav-item{
    margin-bottom: 7px;
  }
  &__item--descr{
    max-width: 270px;
    width: 100%;
  }
  &__descr{
    line-height: 24px;
    margin-bottom: 35px;
    color: $footer-text;
  }
  &__form-input{
    background-color: #fef7f0;
    padding: 9px 15px;
    border: none;
    color: #234969;
    max-width: 170px;
    font-size: 12px;
  }
  &__form-btn{
    padding: 9px 18px;
    position: relative;
    margin-left: -3px;
    top: 1px;
    cursor: pointer;
    border: none;
    background-color: $btn;
    color: #fff;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 90px;
  color: $footer-text;
  &__nav-list{
    display: flex;
  }
  &__nav-item + .footer-bottom__nav-item{
    &::before{
      margin-left: 15px;
      content: '|';
      margin-right: 15px;
    }
  }
}

.top{
  display: flex;
  text-align: center;
  background-color: #edf1f4;
  padding: 30px 0;
  &__title{
    @extend %rubik-300;
    font-size: 35px;
    color: $default;
    margin-bottom: 2px;
  }
}

.modal{
  padding: 120px 0;
  @extend %rubik-400;
  color: #436372;
  font-size: 14px;
  &__inner{
    max-width: 570px;
    padding: 0 50px;
    margin: 0 auto;
  }
  &__label{
    display: block;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  &__input{
    display: block;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    height: 60px;
    padding: 0 15px;
    border: 1px solid #f6f6f6;
  }
  &__btn-submit{
    display: block;
    width: 100%;
    border: none;
    background-color: $btn;
    color: #fff;
    font-size: 18px;
    margin-top: 40px;
    padding: 19px 0;
  }
  &__info{
    padding: 35px 0 33px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
  }
  &__createAccount{
    padding-top: 30px;
    text-align: center;
  }
  &__text{
    margin-bottom: 20px;
  }
  &__link-account{
    display: block;
    border: 1px solid $btn;
    font-size: 18px;
    color: $title;
    padding: 18px 0;
  }
}

.terms-conditions{
  display: flex;
  padding-top: 120px;
  @extend %rubik-400;
  line-height: 30px;
  color: $title;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  &__text{
    margin-bottom: 40px;
  }
}

.creatives{
  padding: 120px 0 60px;
  &__inner{
    display: flex;
  }
  &__img-box{
    max-width: 570px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 30px;
  }
  &__contant{
    padding: 65px 0 96px;
    max-width: 570px;
  }
  &__experience{
    display: flex;
    margin-bottom: 20px;
  }
  &__experience-time{
    @extend %rubik-700;
    font-size: 120px;
    color: $accent;
    margin-right: 30px;
  }
  &__experience-descr{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @extend %rubik-400;
    color: $title;
    padding: 20px 0;
  }
  &__experience-text{
    margin-bottom: 10px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $title;
    margin-bottom: 35px;
  }
  &__text{
    @extend %rubik-400;
    line-height: 30px;
    color: $title;
    margin-bottom: 45px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #e6eaf0;
    padding-top: 28px;
  }
  &__item{
    padding: 12px 0 14px 60px;
    @extend %dmsans-700;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 45px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(1)::before{
      background-image: url('../images/icons/letter.svg');
    }
    &:nth-child(2)::before{
      background-image: url('../images/icons/speaker.svg');
    }
    &:nth-child(3)::before{
      background-image: url('../images/icons/medal.svg');
    }
    &::after{
      content: '';
      width: 1px;
      min-height: 100%;
      background-color: #e6eaf0;
      position: absolute;
      top: 0;
      right: -39px;
    }
    &:last-child::after{
      display: none;
    }
  }
  &__count{
    font-size: 36px;
    line-height: 38px;
    color: $title;
  }
  &__name{
    color: #4c4c4c;
  }
}

.our-advantages{
  margin: 60px 0;
  padding: 84px 0;
  background-color: #fcd7b6;
  &__list{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__item{
    padding-top: 86px;
    @extend %dmsans-700;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 78px;
      height: 64px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-position: center;
      background-repeat: no-repeat;
    }
    &:nth-child(1)::before{
      background-image: url('../images/icons/clients.svg');
    }
    &:nth-child(2)::before{
      background-image: url('../images/icons/delivery-2.svg');
    }
    &:nth-child(3)::before{
      background-image: url('../images/icons/time.svg');
    }
    &:nth-child(4)::before{
      background-image: url('../images/icons/brends.svg');
    }
  }
  &__count{
    font-size: 36px;
    line-height: 38px;
    color: $title;
  }
  &__name{
    color: #4c4c4c;
  }
}

.team{
  padding-top: 60px;
  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
  }
  &__item:nth-child(1){
    grid-row: span 2;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $title;
    margin-bottom: 25px;
  }
  &__text{
    @extend %rubik-400;
    line-height: 30px;
    color: $title;
    max-width: 300px;
    margin-bottom: 30px;
  }
  &__link{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: $btn;
    color: #fff;
    padding: 14px 15px;
    border-radius: 5px;
    width: 170px;
  }
  &__contant{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 20px 30px 25px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    max-width: 325px;
    margin-top: -50px;
    position: relative;
    .team__link{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #f6f6f6;
      border-radius: 50%;
      padding: 0;
      margin: 0 4px;
    }
  }
  &__name{
    @extend %dmsans-700;
    font-size: 22px;
    color: $nav;
    margin-bottom: 15px;
  }
  &__position{
    @extend %rubik-400;
    color: #565872;
  }
  &__link-box{
    display: flex;
    align-items: center;
  }
}

.product{
  margin: 120px 0 80px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}

.product-filter{
  max-width: 270px;
  width: 100%;
  margin-right: 30px;
  &__item{
    margin-bottom: 60px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    color: $title;
    line-height: 1;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    &::after{
      content: '';
      right: -60px;
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $accent;
    }
  }
}

.filter-category{
  &__label{
    display: block;
    margin-bottom: 1px;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }
  &__checkbox{
    display: flex;
    align-items: center;
    padding: 15px;
    position: relative;
    @extend %rubik-400;
    color: $title;
    cursor: pointer;
    &::after{
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6px' height='10px'%3E%3Cpath fill-rule='evenodd' fill='rgb(36, 63, 77)' d='M0.472,9.538 C0.591,9.538 0.710,9.492 0.803,9.398 L5.024,5.133 C5.028,5.128 5.032,5.124 5.037,5.120 C5.077,5.077 5.109,5.028 5.132,4.976 C5.132,4.976 5.132,4.977 5.132,4.975 C5.162,4.907 5.177,4.832 5.177,4.758 C5.177,4.757 5.177,4.757 5.177,4.756 C5.177,4.684 5.162,4.611 5.133,4.545 C5.133,4.544 5.133,4.544 5.133,4.544 C5.133,4.544 5.133,4.544 5.133,4.543 C5.109,4.490 5.077,4.440 5.035,4.396 C5.032,4.391 5.028,4.387 5.024,4.384 L0.803,0.119 C0.609,-0.076 0.306,-0.067 0.123,0.138 C0.035,0.237 -0.008,0.364 -0.008,0.490 C-0.008,0.626 0.042,0.762 0.141,0.862 L3.998,4.758 L0.141,8.655 C0.042,8.755 -0.008,8.891 -0.008,9.026 C-0.008,9.153 0.035,9.280 0.123,9.379 C0.218,9.485 0.345,9.538 0.472,9.538 Z'/%3E%3C/svg%3E");
      width: 6px;
      height: 10px;
      right: 23px;
    }
  }
}

.filter-brands{
  &__label{
    display: block;
    margin-bottom: 1px;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brands__checkbox{
      background-color: #edf1f4;
      border-radius: 5px;
      .filter-brands__count{
        color: $title;
      }
    }
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    @extend %rubik-400;
    color: $title;
    cursor: pointer;
  }
  &__count{
    color: #b3b3b3;
  }
}

.filter-rpice{
  &__box{
    display: flex;
    justify-content: space-between;
    @extend %rubik-400;
    color: $title;
    font-size: 14px;
  }
}

.irs--flat{
  height: 15px;
  margin-bottom: 22px;
  .irs-min,
  .irs-max,
  .irs-from,
  .irs-to,
  .irs-single,
  .irs-handle>i:first-child{
    display: none;
  }
  .irs-line {
    top: 5.5px;
    height: 3px;
    background-color: #c2d2db;
    border-radius: none;
  }
  .irs-bar {
    top: 4.5px;
    height: 5px;
    background-color: #a3bbc8;
  }
  .irs-handle {
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
  }
}

.filter-products{
  &__item{
    display: flex;
    margin-bottom: 25px;
    @extend %rubik-400;
  }
  &__img-box{
    width: 70px;
    height: 70px;
    border: 2px solid #f2f2f2;
    display: flex;
    margin-right: 20px;
  }
  &__image{
    object-fit: contain;
  }
  &__title{
    font-size: 14px;
    color: #333;
    margin: 5px 0 8px;
  }
  &__price{
    margin: 8px 0 5px;
    font-size: 15px;
    display: flex;
  }
  &__old{
    color: #b3b3b3;
    margin-left: 15px;
    text-decoration: line-through;
  }
}

.product-contant:nth-child(){
  max-width: 870px;
  width: 100%;
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
    margin-bottom: 80px;
  }
}



@import 'media';