<section class="product-related">
  <div class="container">
    <div class="product-related__inner">
      <h2 class="product-related__title">Related products</h2>
      <div class="product-related__slide">
        {% include "app/moduls/_products-item/_products-item.html" %}
        {% include "app/moduls/_products-item/_products-item.html" %}
        {% include "app/moduls/_products-item/_products-item.html" %}
        {% include "app/moduls/_products-item/_products-item.html" %}
        {% include "app/moduls/_products-item/_products-item.html" %}
      </div>
    </div>
  </div>
</section>