.product{
  margin: 120px 0 80px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}

.product-contant{
  max-width: 870px;
  width: 100%;
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
    margin-bottom: 80px;
  }
}