.product{
  margin: 120px 0 80px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}

.product-filter{
  &__btn{
    display: none;
  }
}

.product-contant{
  max-width: 870px;
  width: 100%;
  &__list,
  &__grid{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1440px){
  .product-contant{
    &__grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px 20px;
    }
  }
}

@media (max-width: 1024px){
  .product-filter{
    display: none;
    position: absolute;
    background-color: #fff;
    max-width: 100%!important;
    left: 0;
    padding: 15px;
    z-index: 12;
    &__btn{
    position: fixed;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    height: 50px;
    right: 0;
    z-index: 13;
    bottom: 50px;
      .icon{
        width: 22px;
        height: 22px;
      }
    }
  }
  .product-contant{
    margin: 0 auto;
  }
}

@media (max-width: 768px){
  .product-contant{
    &__grid{
      grid-template-columns: repeat(2, 1fr);
    }
    .products{
      &__item--list{
        flex-direction: column;
        .products__img-box{
          margin: 0 auto;
          height: 320px;
        }
        .products__content{
          padding: 15px;
        }
        .products__title{
          margin-bottom: 10px;
        }
        .star,
        .products__price,
        .products__text{
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (max-width: 480px){
  .product-contant{
    &__grid{
      grid-template-columns: repeat(1, 1fr);
    }
    .products{
      &__item--list{
        .products__img-box{
          height: 273px;
        }
      }
    }
  }
}