.main-slider{
  &__inner{
    padding-bottom: 45px;
  }
  &__item{
    min-height: calc(100vh - 143px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: inherit;
    padding: 0 15px;
  }
  &__title{
    @extend %rubik-500;
    font-size: 72px;
    color: $title;
    max-width: 470px;
    margin-bottom: 25px;
  }
  &__subtitle{
    @extend %rubik-400;
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: $nav;
    margin-bottom: 40px;
  }
  &__link{
    @extend %rubik-500;
    border: none;
    background-color: $btn;
    color: #fff;
    font-size: 15px;
    padding: 20px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .icon{
      width: 23px;
      height: 10px;
      fill: #fff;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: -75px;
    li{
      padding: 0 5px;
      button{
        padding: 0;
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        z-index: 1;
        position: relative;
        opacity: .3;
        cursor: pointer;
      }
      &.slick-active{
        button{
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1200px){
  .main-slider{
    &__title {
    font-size: 60px;
    margin-bottom: 15px;
    }
    &__subtitle {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1024px){
  .main-slider{
    &__title {
    font-size: 50px;
    margin-bottom: 10px;
    }
    &__subtitle {
      font-size: 17px;
      line-height: 27px;
    }
  }
}

@media (max-width: 480px){
  .main-slider{
    &__inner{
      padding-bottom: 20px;
    }
    &__title {
    font-size: 34px;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 24px;
    }
    &__link{
      padding: 15px;
      max-width: 165px;
    }
    .slick-dots{
      margin-top: -50px;
    }
  }
}