<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
  <link rel="stylesheet" href="css/login.min.css">
</head>

<body>

  {% include "app/moduls/_header/_header.html" %}

  <main class="main">
    {% include "app/moduls/_top/_top.html" %}
    {% include "app/moduls/_modal/_modal.html" %}
    {% include "app/moduls/_partners/_partners.html" %}
  </main>
  
  {% include "app/moduls/_footer/_footer.html" %}

  <script src="js/main.min.js"></script>
</body>

</html>