.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0 45px;
}

.menu__btn{
  display: none;
}

.menu{
  &__list{
    display: flex;
  }
  &__item{
    @extend %rubik-500;
    font-size: 15px;
    color: $nav;
    padding: 5px 0;
    position: relative;
    z-index: 2;
    .menu__sub-list{
      position: absolute;
      width: max-content;
      padding: 20px;
      background-color: transparent;
      transform: rotateX(90deg);
      z-index: 1;
      top: -15px;
      left: -40%;
      transition: all .3s;
      box-shadow: 0px 7px 20px 0px rgba($btn, 0.3);
    }
    &:hover .menu__sub-list{
      top: 25px;
      background-color: #fff;
      transform: rotateX(0deg);
    }
    .menu__sub-item{
      margin: 10px 0 8px;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    .menu__sub-link {
      border-bottom: 1px solid transparent;
      transform: rotateY();
      padding-bottom: 2px;
      transition: all .3s;
      color: $nav;
      &:hover{
        border-bottom: 1px solid $title;
      }
    }
  }
  &__item + .menu__item{
    margin-left: 30px;
  }
  &__link{
    color: inherit;
    padding-right: 5px;
  }
}

.user__nav{
  display: flex;
  &-link{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 17px 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
      width: 20px;
      height: 20px;
      fill: $title;
    }
  }
  &-link--search{
    background-color: #edf1f4;
    margin-right: 20px;
    .icon{
      width: 18px;
      height: 18px;
    }
  }
  &-link--heart,
  &-link--cart{
    width: 88px;
    background-color: #fcd7b6;
  }
  &-link--heart{
    border-radius: 50px 0 0 50px;
    &::after{
      content: '';
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      position: absolute;
      right: 0;
      top: 9px;
    }
  }
  &-link--cart{
    border-radius: 0 50px 50px 0;
  }
  &-link--menu{
    background-color: #a3bbc8;
    margin-left: 20px;
    .icon{
      width: 22px;
      height: 22px;
      fill: #fff;
    }
  }
  &-image{
    margin: 0 auto;
  }
  &-count{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    background-color: #fff;
    text-align: center;
    color: #243f4d;
    position: absolute;
    top: 9px;
    right: 24px;
  }
}

.header-search {
  position: relative;
  display: flex;
  justify-content: center;
  &:hover > .header-search__input {
    right: 19px;
    width: 275px;
    padding: 0 60px 0 15px;
    transition: .5s;
    &:focus{
      border: 1px solid $accent;
    }
  }
  &__input{
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #f2f2f2;
    transition: .8s;
    outline: none;
    position: absolute;
    background-color: #fff;
    z-index: 2;
  }
  &__link{
    z-index: 3;
  }
}

ul.user__nav-list{
  padding: 10px 20px;
}

.user {
  &__nav-block {
    position: relative;
  }
  &__nav-list {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 5;
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(163,187,200,0.3);
  }
  &__nav-item {
    padding: 5px 0;
  }
  &__nav-item--link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $nav;
    .icon{
      width: 14px;
      height: 14px;
      fill: $nav;
      margin-right: 10px;
    }
  }
  &__nav-list--active{
    display: block;
  }
}

@media (max-width: 1024px){
  .logo{
    margin-right: auto;
    padding-left: 25px;
  }
  ul.menu__list{
    padding: 20px 0;
  }
  .menu{
    position: relative;
    order: -1;
    &__btn{
      display: flex;
      width: 30px;
      height: 24px;
      position: relative;
      padding: 0;
      margin: 0;
      border: none;
      background-color: transparent;
      flex-direction: column;
      justify-content: space-between;
      &::before,
      &::after{
        content: '';
        position: relative;
        width: 30px;
        height: 2px;
        background-color: $nav;
      }
      span{
        width: 30px;
        height: 2px;
        background-color: $nav;
      }
    }
    &__btn--active{
      justify-content: center;
      &::before{
        width: 32px;
        transform: rotate(45deg);
        top: 2px;
        left: -1px;
      }
      &::after{
        width: 32px;
        transform: rotate(-45deg);
        left: -1px;
      }
      span{
        display: none;
      }
    }
    &__list{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100vw - 30px);
      background-color: #fff;
      top: 40px;
      transform: translateY(-150%);
    }
    &__list--active{
      transform: translateY(0);
    }
    &__item{
      padding: 12px 0;
      width: 100%;
      text-align: center;
      &+.menu__item{
        margin-left: 0;
      }
      &:hover .menu__sub-list{
        display: none;
      }
      ul.menu__sub-list.menu__sub-list--active{
        display: block;
        transform: rotateX(0deg);
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transition: all .3s;
        box-shadow: none;
        padding-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px){
  .header{
    &__inner{
      padding: 20px 0;
    }
  }
  .header-search{
    &:hover > .header-search__input {
      display: block;
      right: -245px;
      top: 60px;
      width: calc(100vw - 30px);
      height: 50px;
      padding: 0 20px;
    }
    &__input{
      display: none;
    }
  }
  .header-search--active{
    .header-search__input{
      display: block;
      display: block;
      right: -245px;
      top: 60px;
      width: calc(100vw - 30px);
      height: 50px;
      padding: 0 20px;
    }
  }
}

@media (max-width: 580px){
  .header{
    &__inner{
      padding: 15px 0;
      flex-wrap: wrap;
    }
  }
  .logo{
    width: 100%;
    margin: 0 auto 15px;
    padding: 0;
    &__image{
      margin: 0 auto;;
    }
  }
  .menu{
    order: 0;
  }
  .user{
    &__nav-link{
      width: 40px;
      height: 40px;
    }
    &__nav-link--heart, 
    &__nav-link--cart{
      width: 55px;
    }
    &__nav-link--search{
      margin-right: 15px;
    }
    &__nav-count{
      top: 3px;
      right: 7px;
    }
    &__nav-link--menu{
      margin-left: 15px;
      .icon{
        width: 18px;
        height: 18px;
      }
    }
  }
  .header-search{
    &:hover > .header-search__input {
      right: -166px;
      top: 46px;
      width: calc(100vw - 30px);
      height: 45px;
    }
    &__input{
      display: none;
    }
  }
  .header-search--active{
    .header-search__input{
      display: block;
      right: -166px;
      top: 46px;
      width: calc(100vw - 30px);
      height: 45px;
      padding: 0 10px;
    }
  }
}